

 #title {
  background-color: #ff4c68;
  color: #fff;
}
body{
font-family: 'Lilita One', cursive;

}
.container-fluid{
  padding:3% 15% 7%;

}
h1{

font-size : 3.5rem;
line-height: 1.5;
}
.navbar{
  padding: 0 0 4.5rem;
}

.navbar-brand{
font-family: ubuntu;
  font-size: 2.5rem;
  font-weight: bold;
}
.navbar-item{
  padding:0 18px;

}
.nav-link{
font-size:1.2rem;
font-weight: lighter;
}
/* download button */
.download-button{
  margin: 5% 3% 5% 0;
}

.a{
  width: 60%;
  transform: rotate(25deg);
  padding-top: 20px;
  position:absolute;
  right:30%;


}
@media (max-width:1024px) {
  #title{
    text-align:center;
  }
  .a{
    width:70%;
    position: static;
transform:rotate(0);
  }

}

#features{
  padding: 7% 15%;
  background-color:#fff;
position: relative;

}
.col-lg-4{
  text-align: center;
  padding-left: 5%;
}
.icon{
  font-size: 3rem;
  color: #ef8172;
  padding-top: 60px;
  padding-bottom: 10px;
}
.icon:hover{
color: #ff4c68;
}
h2{
  font-family: 'Lilita One', cursive;
  font-size: 3rem;
  line-height: 1.5;
}

h3{
  font-family: 'Lilita One', cursive;
  font-size: 1.7rem;
font-weight: bold;

}
p{
    color:#8f8f8f;
}
.carousel-item{
  padding: 7% 15%;
}
.more{
  width:90%;
  padding-left: 10%;
}

#testimonials{
  text-align: center;
  background-color: #ef8172;
  color:#fff;


}
.dog-image{
  width:10%;
  border-radius:100%;
}
#press{
  background-color: #ef8172;
  text-align:center;
  padding-bottom:3%;
}
.bran{
  width:15%;
  padding: 20px 20px 50px;
}
#pricing{
  padding: 100px;
  text-align: center;
}
.pricing-column{
  padding:3% 2%;
}
#cta{
  background-color: #ff4c68;

  color:#fff;
  text-align: center;
  padding: 7% 20%;
}
.cta-header{
  line-height:1.5;
  font-size: 3rem;


}
/* footer */

#footer{
  padding: 7% 15%;
  text-align:center;
}
.social-icon{
  margin:20px 10px;
}
